Main/Visual Studio/JAEE.AX.Libro.Tests/JAEE.AX.Libro.WSRef/Service References/JAEEServiciosDocumento/JAEEServicios4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ax2012r2a:8101/DynamicsAx/Services/JAEEServicios?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/JAEELedgerJournal" />
  <xs:import schemaLocation="http://ax2012r2a:8101/DynamicsAx/Services/JAEEServicios?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://ax2012r2a:8101/DynamicsAx/Services/JAEEServicios?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:element name="JAEELedgerJournalServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2008/01/documents/JAEELedgerJournal" minOccurs="0" ref="q1:JAEELedgerJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JAEELedgerJournalServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q2:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JAEELedgerJournalServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q3:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JAEELedgerJournalServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/JAEELedgerJournal" minOccurs="0" ref="q4:JAEELedgerJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JAEELedgerJournalServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q5:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JAEELedgerJournalServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/JAEELedgerJournal" minOccurs="0" ref="q6:JAEELedgerJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>