Main/Visual Studio/JAEE.AX.Libro.Tests/JAEE.AX.Libro.WSRef/Service References/JAEEServiciosPersonalizados/JAEEServiciosPersonalizados.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ax2012r2a:8101/DynamicsAx/Services/JAEEServiciosPersonalizados?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:complexType name="RegistrarAlbaran">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Albaran" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Albaran_RecId" type="xs:long" />
          <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Pedido" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrarAlbaran" nillable="true" type="tns:RegistrarAlbaran" />
</xs:schema>